@charset "utf-8";

body {
  margin: 0;
}

p {
  line-height: 1.5;
  font-size: 1.1em;
  position: relative;
  transition: all, .2s linear;
}

.buttons {
  width: 20px;
  height: 50px;
  background: red;
}

.flag {
  &:after, &:before {
    border-radius: 50%;
    content: '';
    display: inline-block;
    font-size: .3em;
    opacity: 1;
    position: absolute;
    top: 0px;
    height: 26px;
    width: 26px;
  }

  &:before {
    content: url('../images/smile.svg');
    background: rgba(green, .1);
    color: green;
    right: -30px;
  }

  &:after {
    content: url('../images/frown.svg');
    color: darkred;
    background: rgba(red, .1);
    right: -65px;
  }
}

pre code {
  display: block;
}

code {
  background: rgba(gray, 0.12);
  border-radius: 3px;
  padding: .2em .3em;
  font-size: 1rem;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.global-nav {
  background: rgba(gray, 0.12);
  padding: .5em 0;
}

.global-nav-link {
  font-size: .9em;
  display: inline-block;
  margin-right: .5em;
}

.sidebar {
  float: left;
  height: 100vh;
  margin-right: 4%;
  width: 27%;
}

.doc-link-list {
  list-style: none;
  padding: 0;
}

.doc-link {
  border-bottom: 1px solid rgba(gray, .3);
  padding: 1em;
}

.doc-body {
  float: left;
  width: 69%;
}
